{% extends "base.html" %}

{% block extrahead %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SCL6V8VR16"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-SCL6V8VR16');
</script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{% block tabs %}
  <div class="navbar-wrapper">
    <a href="{{ config.site_url }}" class="navbar-ladybird" aria-label="Home">
      <img src="{{ config.site_url }}assets/images/favicon.svg" alt="Ladybird">
    </a>
    {{ super() }}
  </div>
  <div class="site-hero-title">The Insect Hotel</div>
{% endblock %}
